<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SensiEdge.Properties.ConectedDevice" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SensiEdge.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SensiEdge.Properties.Check" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SensiEdge.Properties.CloudConnectionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SensiEdge.Properties.ConectedDevice>
            <setting name="BluetoothAddress" serializeAs="String">
                <value>0</value>
            </setting>
        </SensiEdge.Properties.ConectedDevice>
        <SensiEdge.Properties.Settings1>
            <setting name="check" serializeAs="String">
                <value />
            </setting>
        </SensiEdge.Properties.Settings1>
        <SensiEdge.Properties.Check>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
        </SensiEdge.Properties.Check>
        <SensiEdge.Properties.CloudConnectionSettings>
            <setting name="host" serializeAs="String">
                <value />
            </setting>
            <setting name="deviceId" serializeAs="String">
                <value />
            </setting>
            <setting name="accessKey" serializeAs="String">
                <value />
            </setting>
        </SensiEdge.Properties.CloudConnectionSettings>
    </userSettings>
</configuration>